h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
}

h3 {
  font-weight: bolder;
}

.title {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}

.box1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (min-width: 742px) and (max-width: 991px) {
  .box1 {
    flex-direction: column-reverse;
  }
}

.box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (min-width: 742px) and (max-width: 991px) {
  .box2 {
    flex-direction: column;
  }
}

.box3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (min-width: 100px) and (max-width: 991px) {
  .box3 {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 742px) and (max-width: 991px) {
  .box {
    flex-direction: column;
  }
}

.text {
  width: 50%;
  padding-left: 10px;
}

@media screen and (min-width: 742px) and (max-width: 991px) {
  .text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
  }
}

.imageMag {
  width: 50%;
  background-image: url('https://cdn.shopify.com/s/files/1/0613/0529/1002/files/lesoukreunion_1.png?v=1640245538');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imagePot {
  width: 50%;
  background-image: url('https://cdn.shopify.com/s/files/1/0613/0529/1002/files/lesoukreunion_2.png?v=1640245661');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imageBol {
  width: 50%;
  background-image: url('https://cdn.shopify.com/s/files/1/0613/0529/1002/files/lesoukreunion_3.png?v=1640245603');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 742px) and (max-width: 991px) {
  .imageMag,
  .imagePot,
  .imageBol {
    width: 100%;
    height: 300px;
    border: solid blue 1px;
  }
}

/* ------------------------------------------ */

#regularMenu .grid {
  line-height: 2;
}

.megamenu-links li {
  margin: -25px;
}

.sub_mega_menu_title {
  margin-left: -25px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.shopify-section h2 {
  color: #0000;
}
