.topBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.topBarTitle {
    border: solid red 1px;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: auto;
}